name: update-flake-lock
on:
  workflow_dispatch:
  pull_request:

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Update flake.lock
        id: update
        uses: DeterminateSystems/update-flake-lock@e637603d31bed83169f2e56bb475c9dff7af6544
        with:
          inputs: 'test2'
          nix-options: '--debug --log-format raw'
          commit-msg: "hi there"
          signoff: true
          # git-author-name: 'Jane Author'
          # git-author-email: 'github-actions[bot]@users.noreply.github.com'
          # git-committer-name: 'Cole Helbling'
          # git-committer-email: 'cole.e.helbling@outlook.com'
          # pr-assignees: cole-h
          # pr-reviewers: cole-h
      - run: echo ${{ steps.update.outputs.pull-request-number }}
